:root {
  --vet-purple: #6707DB;     
  --vet-green: #07DB43;      
  --vet-orange: #DB8307;    
  --vet-brown: #866331;
  --vet-dark-purple: #44315C;
  --vet-dark-green: #315C3D;
}

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer-link {
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-link:hover {
  color: var(--vet-green) !important;
  padding-left: 5px;
}

.social-icon {
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.social-icon:hover {
  color: var(--vet-green) !important;
  transform: translateY(-3px);
}

.bg-vet-purple {
  background-color: var(--vet-purple) !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.nav-link {
  font-weight: 500;
  transition: color 0.2s;
}

.nav-link:hover {
  color: var(--vet-green) !important;
}
.hero-banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center; /* mueve el video hacia arriba */
  display: block; /* elimina espacios blancos */
}

.hero-content {
  z-index: 2;
  background-color: rgba(50, 49, 49, 0.4);
  padding: 2rem;
  border-radius: 10px;
}

.video-wave {
  position: absolute;
  bottom: -36%; /* pega la onda al final del hero-banner */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; /* elimina espacios extra */
}

.video-wave svg {
  display: block;
  width: 100%;
  height: auto;
}