
.hero-banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center; /* mueve el video hacia arriba */
  display: block; /* elimina espacios blancos */
}

.hero-content {
  z-index: 2;
  background-color: rgba(50, 49, 49, 0.4);
  padding: 2rem;
  border-radius: 10px;
}

.video-wave {
  position: absolute;
  bottom: -36%; /* pega la onda al final del hero-banner */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; /* elimina espacios extra */
}

.video-wave svg {
  display: block;
  width: 100%;
  height: auto;
}