.contenedor-fondo {
  background-image: url("../public/img/fondo.png"); /* Ruta relativa a tu archivo CSS */

  background-size: cover;
  
  background-repeat: no-repeat;

  background-size: 100%;
 

  padding: 2rem;
  background-position: center;
   
}
.text-orange {
    
    background-color: rgb(216, 191, 186);
}
.btn-send-shadow {
    /* Sombra sutil: 0px X, 4px Y, 8px blur, color semitransparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease-in-out; /* Animación para el hover */
}

.title-sombra {
    /* Sombra de texto: 1px de desplazamiento X, 1px Y, 2px de desenfoque, color gris oscuro */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.texto-naranja {
  /* Usando el nombre del color estándar */
  color: #DB8307; 
}